h1{
    background-color: burlywood;
    color: darkblue;
    border: 2px solid royalblue;
}
p{
    font-size: 25px;
}
img{
    border: 5px dashed cadetblue;
    border-radius: 60px;
    width: 800px;
    margin: 50px 20%;
}